@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}



nav{
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98px 7.45px rgba(0,0,0,0.1);
}

/**********************************************************************************************************/


section{
    padding: 20px;
}


.photogrid{
    padding-left:350px;
    height: 700px;
    width: 700px;
}


.heading{
    font-size: 2rem;
}



.text{
    margin-top: 15px;
}


/**********************************************************************************************************/


.dhoni{
    width: 400px;
    border-radius: 9px;
}

.starimg{
    height: 20px;
    width: 20px;
}

.info{
    font-size: 1.2rem;
    font-family: "Poppins", serif;;

}

.gray{
    color: #a6a2a2;
}

.space{
    padding-top: 4px;
}


/**********************************************************************************************************/


.cardlist{
    width: 2100px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    position: relative;
}
.card{
    width:400px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-right: 6px;
    
}

.card--image{
    width: 200px;
    height: 200px;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card--title{
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats{
    display: flex;
    align-items: center;
}


.card--badge{
    /*position: relative;
    top:10px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
    display: block; */
    position:absolute;
    top:30px;
    margin-left: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    width:80px;
    height:30px;
    border:2px solid #ffffff;
    background-color:white;
}